<h2 class="m-5">Hello!</h2>

<h3 class="m-5">Reservations</h3>
{{#if reservations}}
<div class="accordion accordion-flush mx-5" id="accordionFlush">
  <div class="accordion-item">
    <h2 class="accordion-header" id="upcoming">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Upcoming
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="upcoming" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          {{!-- #each helper to iterate through all reservations and #if helper to compare checkin date}} --}}
          {{#each reservations}}
          {{#if (SameOrAfterToday checkIn)}}
                <li class="list-group-item">Reservation #{{id}} 
                  ({{format_date checkIn}} - {{format_date checkOut}})</li>
          {{/if}}
          {{/each}}  
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="past">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Past
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="past" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
            {{!-- #each helper to iterate through all reservations and #if helper to compare checkin date}} --}}
            {{#each reservations}}
            {{#if (beforeToday checkIn)}}
                <li class="list-group-item">Reservation #{{id}} 
                  ({{format_date checkIn}} - {{format_date checkOut}})</li>
            {{/if}}
            {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{else}}
<p class="m-5">No reservations have been made yet.</p>
{{/if}}