{{!-- booking form to search rooms given input --}}
{{> booking-form}}

{{!-- cards to show more info about the rooms --}}
<h1 class="text-center m-5">Our Rooms</h1>
{{#each types}}
  <div class="m-5">
    <div class="card mb-1 p-5">
      <div class="row">
        <div class="col-md-4">
          <img src="{{image}}" class="img-fluid rounded-start" alt="hotel room for {{name}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><small class="text-muted">Max Occupancy: {{maxOccupancy}}</small></p>
        </div>
          </div>
        </div>
      </div>
    </div>
{{/each}}